

#content {

  // border: 1px solid #222;

  margin: 10px auto;

  width: 1200px;
  height: 100%;

}

.col {
  // position: relative;
  float: left;

  height: 610px;

  box-sizing: border-box;

  padding: 0 20px;

  border-right: 2px solid #7a7a7a;



}

.col:nth-child(1):nth-last-child(3),
.col:nth-child(2):nth-last-child(2),
.col:nth-child(3):nth-last-child(1) {
  width: 33.3333%;
}

.col:nth-child(1):nth-last-child(4),
.col:nth-child(2):nth-last-child(3),
.col:nth-child(3):nth-last-child(2)
.col:nth-child(4):nth-last-child(1) {
  width: 25%;
}


.col:hover { color: #333; text-shadow: none; }


.col:last-child {
  border-right: 0;
}

.col-content {
  padding: 2px;
}

#photos {
  height: 500px;
}

.col-content-header img {
  display: block;
  width: 85px;
  margin: 5px auto 15px auto;
}


.col-content-item {
  width: 100%;
  padding: 10px 3px;

  box-sizing: border-box;

}


.col-content-item.photos {
  width: inherit;
  padding: 0;
  float: left;
}

.social-media {
  width: 90px;
  margin: 0 auto;
}

.social-media ul {
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 22px;

}

.social-media li {
  padding:7px 10px 7px 10px;
  display: block;
}

.social-media .fa-twitter:hover {
  color: #55acee;
}

.social-media a {
  color: #2d3448;
  text-decoration: none;

  padding-left: 8px;
}

.social-media .fa-twitter a:hover, .social-media a:hover {
  color: #55acee;
}


.col, .social-media .fa-twitter {
  color: rgba(0,0,0,0.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
